:root {
    --crop-left: 0px;
    --crop-right: 0px;
    --button-width: calc((100vw - var(--crop-left) - var(--crop-right)) / 6);

    --correct-note: var(--primary);
    --false-note: var(--accent);

    --background-color: black;
    --text: #ffeef1;
    --text-dark: #150003;
    --background: #000000;
    --primary: #ff5f78;
    --secondary: #ffbcc7;
    --accent: #9e1038;

    -correct-note: green;
    --false-note: red;
}

[data-colorscheme="blueYellow"] {
    --text: #fff5ee;
    --text-dark: #00252f;
    --background: #000000;
    --primary: #5bdbff;
    --secondary: #ffdcad;
    --accent: #8a5b1a;

    --correct-note: yellow;
    --false-note: blue;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

#application-container.align-center {
    background-color: var(--background-color);
    align-items: center !important;
}
